body {
    font-family: "Poppins", sans-serif;
    overflow-x: hidden;
}

h1 {
    font-weight: 600;
    font-size: 50px;
    padding-bottom: 28px;
    line-height: 60px;
}

h4 {
    font-size: 20px;
    color: #7A839E;
    font-weight: 300;
    line-height: 40px;
}

section {
    position: relative;
    width: 100%;
    height: 100%;
    background: #ffffff;
}
p{
    font-size: 20px;
    color: #7A839E;
    font-weight: 300;
    line-height: 40px;
    padding-right: 20px;
}

.header-section {
    margin: 74px 0 0px 0;
    min-height: 80vh;
    background: none;
}


.first-section {
    margin: 0 0 152px 0;
}

.section-divider {
    margin-top: -2rem;
    padding-top: 4rem;
    clip-path: polygon(0 100%, 100% 100%, 100% 2rem, 0 0);
  
}

.secound-section {
    position: relative;
    padding-top: 164px;
    width: 100%;
    padding-bottom: 10%;
}

.light {
    background: #F8F9FA;
}

.blue {
    background: #0969C9;
}

.custom-shape-divider-bottom-1594100419 {
    position: absolute;
    bottom: 56px;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-bottom-1594100419 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
}

footer {
    position: relative;
    color: #ffffff;
    margin-top: 126px;
    background: #0961aa;
}
footer ul {
    list-style-type: none;
}
footer a {
    font-family: "Poppins", sans-serif;
    color: #ffffff !important;
    font-size: 1rem;
    list-style-type: none;
}

.wavy-hero {
    position: absolute;
    right: -306px;
    top: 0;
    z-index: 2;
    overflow: hidden;
}

.btn-login {
    outline: none;
    background: white;
}

.btn {
    padding: 8px 28px;
    border-radius: 24px;

}

.feature-img img {
    box-shadow: 50px 50px 0px 10px #b7d2ec;
}

.feature-title {
    max-width: 450px;
}

.feature-border {
    width: 60px;
    height: 2px;
}

.feature-icon i {
    height: 25px;
    width: 25px;
    display: inline-block;
    text-align: center;
    line-height: 25px;
    font-size: 14px;
    border-radius: 3px;
    background-color: #B7D2EC;
}

.swiper-container {
    width: 100%;
    min-height: 44vh;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.card {
    padding: 16px;
    -webkit-box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.75);
}
.card p {
    font-size: 1.2rem
}

.program {
    margin-bottom: 74px;
}

.program-line {
    position: relative;
    margin-bottom: 74px;
}
.program-line:after {
    position: absolute;
    content: "";
    bottom: -219px;
    width: calc(50% + 2px);
    height: 63.7%;
    border: 1px solid #707070;
    border-bottom: 0;
    border-radius: 14px 14px 0 0;
}
.program-line:before {
    position: absolute;
    content: "";
    top: -70px;
    height: 131.7%;
    border-right: 0.5px solid #707070;
}

.steps {
    padding: 24px 0;
    position: relative;
    margin: auto;
}

.steps::after {
    content: "";
    position: absolute;
    height: 13px;
    width: 13px;
    border-radius: 15px;
    left: calc(50px / 2);
    bottom: 24px;
    transform: translateX(-45%);
    z-index: 2;
}

.step {
    padding: 0 20px 24px 50px;
    position: relative;
    transition: all 0.4s ease-in-out;
}
.step-header{
    margin-left: 11px;
}

.step .step-1 {
    position: absolute;
    left: calc(40px / 2);
    transform: translateX(-60%);
    top: calc(33px / 2);
    z-index: 100;
    font-weight: 600;
}
.step::before {
    content: "";
    position: absolute;
    height: 56px;
    width: 56px;
    border: 1px solid #0969C9;
    background: #ffff;
    border-radius: 50%;
    left: calc(50px / 2);
    transform: translateX(-60%);
    z-index: 2;
}

.step::after {
    content: "";
    position: absolute;
    height: 100%;
    width: 1px;
    background-color: #0969C9;
    left: calc(38px / 2);
    top: 0;
    z-index: 1;
}

.step:last-child::after {
    content: "";
    position: absolute;
    height: 100%;
    width: 1px;
    background-color: rgba(219, 34, 34, 0);
    left: calc(40px / 2);
    top: 0;
    z-index: 1;
}

.step.minimized {
    transition: background-color 0.3s ease-in-out;
    cursor: pointer;
}

.header {
    user-select: none;
    font-size: 16px;
    color: #0969C9;
    font-weight: 600;
}

.subheader {
    user-select: none;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.4);
}

.step-content {
    transition: all 0.3s ease-in-out;
    overflow: hidden;
    position: relative;
}

.step.minimized > .step-content {
    height: 0px;
}

.step-content.one {
    width: 100%;
    border-radius: 4px;
    margin-top: 10px;
}

.step-content.two {
    width: 100%;
    border-radius: 4px;
    margin-top: 10px;
}

.step-content.three {
    width: 100%;
    border-radius: 4px;
    margin-top: 10px;
}
.logical-fields {
    display: none;
}
